pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# Eclipse
.classpath
.settings/
.plugins

.metadata

# Maven
log/
target/

#Tomcat
logs
nbproject
output
work
build.properties
mvn.properties
.checkstyle
.classpath
.fbprefs
.settings
.idea
*.iml
*.asc
*.jj
*.tmp
maven-ant-tasks-*.jar
thumbs.db
Thumbs.db
bin/setenv.*
java/org/apache/catalina/startup/catalina.properties
modules/jdbc-pool/bin
modules/jdbc-pool/includes
webapps/docs/jdbc-pool.xml

dependency-reduced-pom.xml