@CHARSET "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: Roboto, arial, sans-serif;
    box-sizing: border-box;
    color: #8eb3ea
}

body {
    background-color: #372f2f;
    overflow-y: scroll;
}

#tabela{
    width:50%; 
    margin:0 auto;
    background-color:#fff; /* dodajemy kolor tła naszemu formularzowi */
    border:2px solid #ccc; /* dodajemy obramowanie o szerokości 2px */
    border-radius:10px; /* zaokrąglamy tło naszego formularza */
    padding:20px; /* dodajemy margines wewnątrz naszego formularza */
    margin-top:20px; 
}

table{
	width:100%;
	border:2px solid #372f2f;
}
th{
	padding:5px;
	border:2px solid #372f2f;
}
td{
	padding:5px;
	border:2px solid #372f2f;
}
#link{
	border:2px solid #ccc;
    width:100%; 
    margin:0 auto;
	cursor:pointer; 
	margin-bottom:0px;
	text-decoration: none;
	paddnig:20px;
	font-weight:bold; 
	font-size: 14px;
	
}

#formularz {
    width:50%; 
    margin:0 auto;
    background-color:#fff; 
    border:2px solid #ccc; 
    border-radius:10px; 
    padding:20px; 
    margin-top:20px; 
}

#formularz label {
    display:block;
    margin-bottom:5px;
    font-weight:bold; 
    text-transform: uppercase; 
    font-size:12px;
}

#formularz textarea{
    padding:5px; 
	border-radius:3px; 
	border:1px solid #ccc; 
	margin-bottom:25px;
	width: 100%; 
    max-width: 100%;
    
}
#formularz input {
	padding:5px; 
	border-radius:3px; 
	border:1px solid #ccc; 
	margin-bottom:25px;
	width: 50% 
    

}

#formularz input#submit {
    
	width:100%; 
	cursor:pointer; 
	margin-bottom:0px;
}